streamlit==1.39.0
sentence-transformers==2.2.2
huggingface-hub==0.24.6
faiss-cpu==1.7.4
pypdf==4.3.1
pymupdf==1.24.10
python-dotenv==1.0.1
langchain==0.3.2
langchain-core==0.3.8
langchain-community==0.3.1
chromadb
typesense
langchain_openai
langgraph
